{%- if page.previous or page.next -%}
<div class="center">
<div class="pagination">
  <nav>
    {%- if page.previous -%}
      <a href="{{ page.previous.url | relative_url }}" title="{{ page.previous.title | markdownify | strip_html }}">Previous </a>
    {%- else -%}
      <a href="#">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {%- endif -%}
    <span class="sep">&nbsp&nbsp</span>
    {%- if page.next -%}
      <a href="{{ page.next.url | relative_url }}" class="pagination-highlight" title="{{ page.next.title | markdownify | strip_html }}"> Next</a>
    {%- else -%}
      <a href="#">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {%- endif -%}
  </nav>
</div>
</div>
{%- endif -%}